@charset "utf-8";

/* Nechronica basic layout */
body {
  background-image: url(../../_common/img/back-pattern.png);
}

article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

#area-name, #tags {
  grid-column: span 2;
}

#area-status {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: .5rem;
  grid-template-areas:
    "LEFT RIGHT";
}
#status-left  { grid-area: LEFT; }
#status-right { grid-area: RIGHT; }
#personal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5rem;
}
#personal dl {
  margin: 0;
}


#effect table,
#enhancement table {
  width: 100%;
  border-collapse: collapse;
}

#effect table th,
#effect table td {
  border: 1px solid #aaa;
  padding: .2rem .4rem;
}

#effect table thead th:nth-child(n+4) {
  font-size: 90%;
}

#effect table tbody td:nth-child(n+2) {
  font-family: var(--font-proportional);
  font-feature-settings: "palt";
}

#effect table tbody td:nth-child(3) { font-weight: bold; }
#effect table tbody td:nth-child(4),
#effect table tbody td:nth-child(5),
#effect table tbody td:nth-child(6) {
  font-size: 90%;
}

#effect table tbody td.note {
  padding-left: .5rem;
  display: none;
}

#effect[data-full-open="true"] table tbody td.note,
#effect table tbody:hover td.note {
  display: table-cell;
}

#effect table tbody td.note span.right {
  float: right;
  font-size: 90%;
}

#free-note {
  white-space: pre-wrap;
}

@media screen and (max-width: 735px) {
  article {
    grid-template-columns: 1fr;
  }
  #area-status {
    grid-template-columns: 1fr;
    grid-template-areas:
      "RIGHT"
      "LEFT";
  }
}

