@charset "utf-8";

/* Nechronica basic layout */
body {
  background-image: url(../../_common/img/back-pattern.png);
}

article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

#area-name, #tags {
  grid-column: span 2;
}

#area-status {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: .5rem;
  grid-template-areas:
    "LEFT RIGHT";
}
#status-left  { grid-area: LEFT; }
#status-right { grid-area: RIGHT; }
#personal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5rem;
}
#personal dl {
  margin: 0;
}

#maneuvers table,
#enhancement table {
  width: 100%;
  border-collapse: collapse;
}

#maneuvers th, #maneuvers td {
  border: 1px solid #aaa;
  padding: .2rem .4rem;
}

#free-note {
  white-space: pre-wrap;
}

@media screen and (max-width: 735px) {
  article {
    grid-template-columns: 1fr;
  }
  #area-status {
    grid-template-columns: 1fr;
    grid-template-areas:
      "RIGHT"
      "LEFT";
  }
}

